{% load static %}
{% load news_tags %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %}{% endblock%}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <h2>Новости</h2>
    </header>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <section>
        <article>
            {% block content %}
            {% endblock %}
        </article>

        <nav>
            <ul>
                <h2>Панель навигации</h2>
                <hr>
                <a href="{% url 'news:article_search' %}">Поиск по новостям</a>
                <li>
                    <p>Новостной портал содержит новостей: {% total_articles %}.</p>
                </li>
                <a href="{% url 'news:article_list' %}">Список всех новостей</a>
                <hr>
                <h3>Самые свежие новости:</h3>
                {% show_latest_articles 2 %}
                <hr>
                {% get_most_commented_articles 2 as most_commented_articles %}
                <h3>Самые обсуждаемые новости:</h3>
                {% for article in most_commented_articles %}
                <li>
                    <p class="most-commented-articles-links"><a href="{{ article.get_absolute_url }}">
                            {{ article.headline }}</a></p>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </section>
    <footer>
        <h2>© 2024 Новости</h2>
        <span class="footer-link"><a href="{% url 'news:article_feed' %}"><img
                    src="{% static 'news/img/rss.png' %}"></a></span>
        <span class="footer-link"><a href="{% url 'sitemap' %}"><img
                    src="{% static 'news/img/sitemap.png' %}"></a></span>
    </footer>
</body>

</html>
