body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: medium;
}

/* Style the header */
header,
main {
    /* background: #181818; */
    background: #000000;
    padding: 30px;
    text-align: center;
    font-size: 45px;
    color: #49c5b6;
}

h1 {
    text-align: center;
    font-size: 30px;
}

section {
    display: flex;
}

/* Style the articles */
article {
    flex: 2;
    background: #000000;
    padding: 30px;
}

/* Style the navigation menu #2779a7; */
nav {
    flex: 1;
    background: #2779a7;
    padding: 30px;
    font-size: large;
}

nav ul {
    color: #ffffff;
    padding: 30px;
}

.pdate {
    font-style: italic;
}

img {
    width: 100%;
    height: auto;
}

a:link,
a:visited {
    background-color: white;
    color: black;
    border: 2px solid #49c5b6;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

a:hover,
a:active {
    background-color: #49c5b6;
    color: white;
}

/* Style the footer */
footer {
    background-color: #000000;
    padding: 45px;
    text-align: center;
    color: #49c5b6;
    font-size: 40px;
}

.pagination {
    text-align: center;
}

.step-links a:link,
.step-links a:visited,
.tags-links a:link,
.tags-links a:visited {
    background-color: #000000;
    color: #49c5b6;
    border: none;
    padding: 0%;
    display: inline;
}

.step-links a:hover,
.step-links a:active,
.tags-links a:hover,
.tags-links a:active {
    background-color: #49c5b6;
    color: white;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #49c5b6;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #49c5b6;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=submit] {
    background-color: #49c5b6;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.latest-articles-ul {
    list-style-type: disc;
    padding: 0px;
}

.latest-articles-links a:link,
.latest-articles-links a:visited,
.most-commented-articles-links a:link,
.most-commented-articles-links a:visited {
    background-color: #2779a7;
    color: #49c5b6;
    border: none;
    padding: 0%;
    display: inline;
}

.latest-articles-links a:hover,
.latest-articles-links a:active,
.most-commented-articles-links a:hover,
.most-commented-articles-links a:active {
    background-color: #49c5b6;
    color: white;
}

.footer-link a {
    background-color: #000000;
    border: none;
    padding: 0%;
    display: inline;
}

.footer-link a img {
    width: 30px;
    height: 30px;
}

.footer-link a:hover img {
    transform: scale(1.1);
}
